<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">
            <nav class=" navbar navbar-expand navbar-light " style=" background: #0BD10B">
                <div class="container-fluid"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Escudo_de_Chaclacayo.png/628px-Escudo_de_Chaclacayo.png" alt="alt" style="margin-left: 30px ; width: 80px"/>
                    <img th:src="@{/images/logo.png}" alt="alt"  width="80" height="62" style="margin-left: -56%"/>

                    <div class="row">
                        <div class="col bg-white rounded-circle p-3">
                            <img src="https://produccionindustrialsite.files.wordpress.com/2016/06/1.png" alt="alt" style="width: 60px">
                        </div>
                        <div class="col bg-white p-2 rounded-pill fw-bold me-4 ms-2 my-2" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="mt-1 mx-5 nav-link dropdown-toggle fs-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Usuarios
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                            <li><a class="dropdown-item"  th:href="@{/}"  sec:authorize="hasRole('ROLE_ADMIN')">Regresar</a></li>
                                        <li><a class="dropdown-item"  th:href="@{/perfil}" sec:authorize="hasRole('ROLE_USER')">Mi perfil</a></li>
                                        
                                        <li>

                                            <form th:action="@{/login}" sec:authorize="hasRole('ROLE_USER')">
                                                <a class="dropdown-item text-danger" href="#" onclick="this.parentNode.submit();"><i class="fa-solid fa-power-off mx-2 "></i>Cerrar sesión</a>
                                            </form>


                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="mx-5 mt-4">
                <h1>Bienvenido(a), Cristian Antony Lara Arcos <i></i></h1>
                <h4 class="fw-normal">Más información: 

                    <button class=" btn px-3 text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"  style="background: #0BD10B" >Click aquí</button> </h4>

            </div><br>
            <div>

                <div class="mt-4">


                    <div class="ms-5 mt-4">
                        <div class="p-3 text-lg-center rounded-pill mt-4"  style="background-color:#FFFF00;width: 23%; height: 70px">
                            <h3 class="fw-normal">ORGANIZACIÓN:</h3>
                        </div>
                    </div><br><br><br><br>
                    <center><div class="container" style="border: 2px solid black; border-radius: 50px; width: 40%" >

                            <img th:src="@{/images/org.png}" alt="alt" width="350em" />
                            <img src="https://png.pngtree.com/png-clipart/20201029/ourlarge/pngtree-circle-clipart-bright-yellow-circle-png-image_2381939.jpg" alt="alt"  width="60em" style="margin-top: -12em"/>

                        </div></center><br>
                    <center><button class=" btn px-3 text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  style="background: #0BD10B" ><h3>ACTUALIZAR ORGANIZACIÓN</h3></button></center>
                    <br><br>
                    <div class="mx-5 mt-4">
                        <div class="d-grid">
                            <div class="row">
                                <h3 class="col">Nombre de la Organización:</h3>
                                <h3 class="col">&nbsp&nbsp&nbsp&nbsp&nbspTipo de Organización:</h3>

                            </div>
                            <div class="row">
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                <div class="col-1"> </div>
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="mx-5 mt-4">
                        <div class="d-grid">
                            <div class="row">
                                <h3 class="col ">Código de Organización:</h3>
                                <h3 class="col ">&nbsp&nbsp&nbsp&nbsp&nbspZona:</h3>
                            </div>
                            <div class="row">
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                <div class="col-1"> </div>
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="mx-5 mt-4">
                        <div class="d-grid">
                            <div class="row">
                                <h3 class="col ">Nivel:</h3>
                                <h3 class="col ">&nbsp&nbsp&nbsp&nbsp&nbspN° de Resolución:</h3>
                            </div>
                            <div class="row">
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                <div class="col-1"> </div>
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>
                    </div><div class="mx-5 mt-4">
                        <div class="d-grid">
                            <div class="row">
                                <h3 class="col">Inicio de Vigencia:</h3>
                                <h3 class="col">&nbsp&nbsp&nbsp&nbsp&nbspFin de Vigencia:</h3>
                            </div>
                            <div class="row">
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                <div class="col-1"> </div>
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>
                    </div>



                    <div class="ms-5 mt-5">
                        <div class="p-3 text-lg-center rounded-pill mt-4" style="background-color:#FFFF00;width: 45%; height: 70px">
                            <h3 class="fw-normal">NÓMINA DE LA JUNTA DIRECTIVA:</h3>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <h3>FECHA DE VIGENCIA</h3>
                    </div>
                    <div class="mx-5 mt-4">
                        <div class="d-grid">
                            <div class="row">
                                <h3 class="col ">Inicio de Vigencia:</h3>
                                <h3 class="col ">&nbsp&nbsp&nbsp&nbsp&nbspFin de Vigencia:</h3>
                            </div>
                            <div class="row">
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                <div class="col-1"> </div>
                                <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="container mt-5">

                        <table border="1" class="table table-bordered border-dark">
                            <thead>
                                <tr>
                                    <th class="col-2">CARGO</th>
                                    <th class="col-3">NOMBRES</th>
                                    <th class="col-3">APELLIDOS</th>
                                    <th class="col-2">DIRECCIÓN</th>
                                    <th class="col-1">DNI</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Presidente(a)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Vice Presidente(a)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Secretario(a)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Tesorero(a)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Vocal 1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="ms-5 mt-5">
                        <div class="p-3 text-lg-center rounded-pill mt-4" style="background-color:#FFFF00;width: 30%; height: 70px">
                            <h3 class="fw-normal">NÓMINA DE SOCIOS:</h3>
                        </div>
                    </div>
                    <div class="container mt-5">

                        <table border="1" class="table table-bordered border-dark">
                            <thead>
                                <tr>
                                    <th class="col-2">N° SOCIOS</th>
                                    <th class="col-3">NOMBRES</th>
                                    <th class="col-3">APELLIDOS</th>
                                    <th class="col-2">DIRECCIÓN</th>
                                    <th class="col-1">DNI</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Socio-01</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Socio-02</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Socio-03</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Socio-04</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Socio-05</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Socio-06</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ms-5 mt-5">
                        <div class="p-3 text-lg-center rounded-pill mt-4" style="background-color:#FFFF00;width: 25%; height: 70px">
                            <h3 class="fw-normal">DOCUMENTOS:</h3>
                        </div>
                    </div>
                    <div class="container mt-5">
                        <div class="row justify-content-md-center">
                            <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                <h4 class="fw-normal">ACTA DE ELECCIÓN DEL ÓRGANO DIRECTIVO</h4>
                            </div>                
                        </div>      
                        <center><div class="archivoc mt-2">
                                <input type="file" name="archivo" id="">
                            </div> </center>
                    </div>
                    <div class="container mt-5">
                        <div class="row justify-content-md-center">
                            <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                <h4 class="fw-normal">ESTUDIO Y ACTA DE APROBACIÓN</h4>
                            </div>                
                        </div>
                        <center><div class="archivoc mt-2">
                                <input type="file" name="archivo" id="">
                            </div> </center>
                    </div>
                    <div class="container mt-5">
                        <div class="row justify-content-md-center">
                            <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                <h4 class="fw-normal">ACTA DE FUNCIÓN O DE CONTSITUCIÓN</h4>
                            </div>                
                        </div>
                        <center><div class="archivoc mt-2">
                                <input type="file" name="archivo" id="">
                            </div> </center>
                    </div>
                    <div class="container mt-5">
                        <div class="row justify-content-md-center">
                            <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                <h4 class="fw-normal">PLANO DE ACCIÓN DE LA CONSTITUCIÓN</h4>
                            </div>                
                        </div>
                        <center><div class="archivoc mt-2">
                                <input type="file" name="archivo" id="">
                            </div> </center>
                    </div><br><br>


                </div>

            </div>
            <footer class="mt-5 p-4 color1 d-flex" style=" background: #0BD10B">
                <h3 class="text-white justify-content-end w-50" style="margin-left: 28em">Municipalidad de Chaclacayo</h3>
            </footer>

            <div  class="modal fade"  id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div style="width: 35em; margin-left: -1em" class=" modal-content">
                        <div class="modal-header">ESTADOS
                            <h5 class="modal-title" id="staticBackdropLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img th:src="@{/images/estados.PNG}" alt="alt"/>



                        </div>

                    </div>
                </div>
            </div>

            <div  class="modal fade"  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div style="width: 70em; margin-left: -19em" class=" modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="p-4 text-lg-center rounded-pill mt-4 w-auto ps-5 pe-5" style="background-color:#FFFF00">
                                        <h3>ACTUALIZA TÚ ORGANIZACIÓN SOCIAL</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-5 mt-4">
                                <div class="p-3 text-lg-center rounded-pill mt-4"  style="background-color:#FFFF00;width: 23%; height: 70px">
                                    <h3 class="fw-normal">ORGANIZACIÓN:</h3>
                                </div>
                            </div><br><br><br><br>
                            <center><div class="container" style="border: 2px solid black; border-radius: 50px; width: 40%" >

                                    <img th:src="@{/images/org.png}" alt="alt" width="350em" />

                                </div></center><br><br><br><br>
                            <div class="mx-5 mt-4">
                                <div class="d-grid">
                                    <div class="row">
                                        <h3 class="col">Nombre de la Organización:</h3>
                                        <h3 class="col">&nbsp&nbsp&nbsp&nbsp&nbspTipo de Organización:</h3>

                                    </div>
                                    <div class="row">
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                        <div class="col-1"> </div>
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="mx-5 mt-4">
                                <div class="d-grid">
                                    <div class="row">
                                        <h3 class="col ">Código de Organización:</h3>
                                        <h3 class="col ">&nbsp&nbsp&nbsp&nbsp&nbspZona:</h3>
                                    </div>
                                    <div class="row">
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                        <div class="col-1"> </div>
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="mx-5 mt-4">
                                <div class="d-grid">
                                    <div class="row">
                                        <h3 class="col ">Nivel:</h3>
                                        <h3 class="col ">&nbsp&nbsp&nbsp&nbsp&nbspN° de Resolución:</h3>
                                    </div>
                                    <div class="row">
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                        <div class="col-1"> </div>
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                </div>
                            </div><div class="mx-5 mt-4">
                                <div class="d-grid">
                                    <div class="row">
                                        <h3 class="col">Inicio de Vigencia:</h3>
                                        <h3 class="col">&nbsp&nbsp&nbsp&nbsp&nbspFin de Vigencia:</h3>
                                    </div>
                                    <div class="row">
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                        <div class="col-1"> </div>
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                </div>
                            </div>



                            <div class="ms-5 mt-5">
                                <div class="p-3 text-lg-center rounded-pill mt-4"style="background-color:#FFFF00;width: 45%; height: 70px">
                                    <h3 class="fw-normal">NÓMINA DE LA JUNTA DIRECTIVA:</h3>
                                </div>
                            </div>
                            <div class="text-center mt-5">
                                <h3>FECHA DE VIGENCIA</h3>
                            </div>
                            <div class="mx-5 mt-4">
                                <div class="d-grid">
                                    <div class="row">
                                        <h3 class="col ">Inicio de Vigencia:</h3>
                                        <h3 class="col ">&nbsp&nbsp&nbsp&nbsp&nbspFin de Vigencia:</h3>
                                    </div>
                                    <div class="row">
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                        <div class="col-1"> </div>
                                        <input type="text" class="col form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="container mt-5">
                                <center> <div class="mt-5 mb-3 col">
                                        <button class="col-auto btn"  style="background: #0BD10B; color: white">&nbsp&nbsp&nbspAGREGAR MIEMBRO DE LA JUNTA&nbsp&nbsp&nbsp</button>
                                    </div> </center>
                                <table border="1" class="table table-bordered border-dark">
                                    <thead>
                                        <tr>
                                            <th class="col-2">CARGO</th>
                                            <th class="col-3">NOMBRES</th>
                                            <th class="col-3">APELLIDOS</th>
                                            <th class="col-2">DIRECCIÓN</th>
                                            <th class="col-1">DNI</th>
                                            <th class="col-1">OPCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Presidente(a)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Vice Presidente(a)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Secretario(a)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tesorero(a)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Vocal 1</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="ms-5 mt-5">
                                <div class="p-3 text-lg-center rounded-pill mt-4" style="background-color:#FFFF00;width: 30%; height: 70px">
                                    <h3 class="fw-normal">NÓMINA DE SOCIOS:</h3>
                                </div>
                            </div>
                            <div class="container mt-5">
                                <center> <div class="mt-5 mb-3 col">
                                        <button class="col-auto btn"  style="background: #0BD10B; color: white">&nbsp&nbsp&nbspAGREGAR SOCIO&nbsp&nbsp&nbsp</button>
                                    </div> </center>
                                <table border="1" class="table table-bordered border-dark">
                                    <thead>
                                        <tr>
                                            <th class="col-2">N° SOCIOS</th>
                                            <th class="col-3">NOMBRES</th>
                                            <th class="col-3">APELLIDOS</th>
                                            <th class="col-2">DIRECCIÓN</th>
                                            <th class="col-1">DNI</th>
                                            <th class="col-1">OPCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Socio-01</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Socio-02</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Socio-03</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Socio-04</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Socio-05</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Socio-06</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                  <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="alt" width="25em"/>
                                                <img src="https://media.istockphoto.com/vectors/trash-bin-or-trash-can-symbol-icon-vector-id1266636179?k=20&m=1266636179&s=170667a&w=0&h=KHSsBYl9WHTyDfAd79ffdUc26aIAcDMETqeXKkpICAA=" alt="alt" width="33em"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="ms-5 mt-5">
                                <div class="p-3 text-lg-center rounded-pill mt-4" style="background-color:#FFFF00;width: 25%; height: 70px">
                                    <h3 class="fw-normal">DOCUMENTOS:</h3>
                                </div>
                            </div>
                            <div class="container mt-5">
                                <div class="row justify-content-md-center">
                                    <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                        <h4 class="fw-normal">ACTA DE ELECCIÓN DEL ÓRGANO DIRECTIVO</h4>
                                    </div>                
                                </div>      
                                <center><div class="archivoc mt-2">
                                        <input type="file" name="archivo" id="">
                                    </div> </center>
                            </div>
                            <div class="container mt-5">
                                <div class="row justify-content-md-center">
                                    <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                        <h4 class="fw-normal">ESTUDIO Y ACTA DE APROBACIÓN</h4>
                                    </div>                
                                </div>
                                <center><div class="archivoc mt-2">
                                        <input type="file" name="archivo" id="">
                                    </div> </center>
                            </div>
                            <div class="container mt-5">
                                <div class="row justify-content-md-center">
                                    <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                        <h4 class="fw-normal">ACTA DE FUNCIÓN O DE CONTSITUCIÓN</h4>
                                    </div>                
                                </div>
                                <center><div class="archivoc mt-2">
                                        <input type="file" name="archivo" id="">
                                    </div> </center>
                            </div>
                            <div class="container mt-5">
                                <div class="row justify-content-md-center">
                                    <div class="p-3 text-lg-center rounded-pill mt-4 w-auto ps-4 pe-4"  style="background-color:#FFFF00;width: 25%; height: 60px">
                                        <h4 class="fw-normal">PLANO DE ACCIÓN DE LA CONSTITUCIÓN</h4>
                                    </div>                
                                </div>
                                <center><div class="archivoc mt-2">
                                        <input type="file" name="archivo" id="">
                                    </div> </center>
                            </div><br><br>
                            <center> <div class="w-50"><div class="row container mt-3">
                                        <div class="col d-grid  mx-auto  ">                     
                                            <button data-bs-dismiss="modal" class=" btn px-3 text-white" style="background: red" >CANCELAR</button>  </div>

                                        <div class="col d-grid  mx-auto  ">                       
                                            <a th:href="@{/envio}" class=" btn px-3 text-white" style="background: #0BD10B" >ENVIAR</a>    </div>

                                    </div></div></center> </div>
                    </div>
                    </body>
                    </html>
