<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <link  rel="icon" href="https://i.imgur.com/XDTf7HV.png">
        <title>Registro de organizaciones sociales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/custom.css}"  rel="stylesheet" />
        <link th:href="@{/css/estilos2.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    </head>
    <body>


        <div class="fondo container-fluid" layout:fragment="page-content" > <br><br><br><br><br><br><br><br><br><br><br>
            <div class="atras" sec:authorize="hasRole('ROLE_ADMIN')">  
                <div class="row">
                    <a th:href="@{/user}" class="cajitas col admin btn " >MUNICIPALIDAD DE CHACLAYO<br>(Usuario)</a> 
                    <a th:href="@{/mesa}" class="cajitas col admin btn " >MUNICIPALIDAD DE CHACLAYO<br>(Mesa de Partes)</a>
                </div>
                <div class="row">
                    <a th:href="@{/subgerencia}" class="cajitas col admin btn btn-success" >MUNICIPALIDAD DE CHACLAYO<br>(Subgerencia)</a>
                    <a th:href="@{/gerencia}" class="cajitas col admin btn btn-success" >MUNICIPALIDAD DE CHACLAYO<br>(Gerencia)</a> 
                </div>

                <center>  <a class="cajitas admin2 dropdown-item"  th:href="@{/perfil}">Mi perfil</a> </center>

                <center>  <a th:action="@{/login}" class="cajitas admin2 dropdown-item text-danger" href="#" onclick="this.parentNode.submit();"><i class="fa-solid fa-power-off mx-2 "></i>Cerrar sesión</a> </center>

            </div>


            <center> <a th:href="@{/user}" class="admin btn btn-success" sec:authorize="hasRole('ROLE_USER')">MUNICIPALIDAD DE CHACLAYO<br>(Usuario)</a> </center>
            <center> <a th:href="@{/mesa}" class="admin btn btn-success" sec:authorize="hasRole('ROLE_MESA')">MUNICIPALIDAD DE CHACLAYO<br>(Mesa de partes)</a> </center>
            <center> <a th:href="@{/subgerencia}" class="admin btn btn-success" sec:authorize="hasRole('ROLE_SUBGE')">MUNICIPALIDAD DE CHACLAYO<br>(Subgerencia)</a> </center>
            <center> <a th:href="@{/gerencia}" class="admin btn btn-success" sec:authorize="hasRole('ROLE_GERE')">MUNICIPALIDAD DE CHACLAYO<br>(Gerencia)</a> </center>



        </div>


        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
