<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <link  rel="icon" href="https://i.imgur.com/XDTf7HV.png">
        <title>Registro de organizaciones sociales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/custom.css}"  rel="stylesheet" />
    </head>
    <body >
      <div class="container-fluid" layout:fragment="page-content">
        <div class="container position-relative ">
          
            
      <div class="row">
        <div class="col-3"></div>
        <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-light " style="border-radius: 1rem;">
            
            
            <form method="POST" th:action="@{/login}" class="  p-5 rounded-start">
                <div class="w-100 text-center">
                    <img src="https://i.imgur.com/cTFQjVo.png" alt="alt" width="200" height="200"/>
                </div>
                
                <div class="form-outline mb-2">
                    <label class="form-label" for="form2Example1">Usuario</label>
                    <input type="text" id="username" class="form-control" name="username"/>                    
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label" for="form2Example2">Password</label>
                    <input type="password" id="password" name="password" class="form-control" />                    
                </div>
                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <input type="submit" value="Login" class="btn btn-primary"/>
                </div>
              

            </form>
            <div class="row">
                <div class="col-4"></div>
            <a th:href="@{/reg/form}" class=" d-grid gap-2 col-4 mt-4 btn-primary rounded-3  justify-content-center align-items-centert mb-3">Registrate</a>
                            <div class="col-4"></div>
        </div>
        
        
        </div> 
     </div>
    </div>
  </div>
        <div class="col-3"></div>
      </div>
    </div>
          </div>
         <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
