<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Escudo_de_Chaclacayo.png/628px-Escudo_de_Chaclacayo.png"/>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos2.css}" rel="stylesheet" />

    </head>
    <body>
       <div layout:fragment="page-content"> <!-----------Encbezado-->
        <header class="header">
            <div class="bg-success">
                <div class="container">
                    <nav class=" navbar navbar-expand-lg navbar-light ">
                        <div class="esquina container-fluid ">
                            <a class="navbar-brand " href="#titulo" >
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Escudo_de_Chaclacayo.png/628px-Escudo_de_Chaclacayo.png" alt=""  width="60" height="auto" >
                                <img th:src="@{/images/logo.png}" alt="alt"  width="80" height="55"/>
                            </a>
                        </div>

                        <div class="enlaces collapse navbar-collapse" >
                            <div class="navg navbar-nav w-100 ">
                                <a class=" grue nav-item nav-link active"  href="#quees">¿Que&nbspes?</a>
                                <a class=" grue nav-item nav-link active" href="#inst">Instruciones</a>
                                <a class=" grue nav-item nav-link" href="#requi">Requisitos</a>
                                <a class=" grue nav-item nav-link" href="#for">Formatos</a>
                                <a class=" grue nav-item nav-link" href="#org">Organizaciones</a>
                            </div>
                        </div>    
                    </nav>
                </div>
            </div>

            <section class="text-header d-flex flex-column align-items-center justify-content-center
                     text-center m-auto" id="titulo">
                <div class="text-center text-justify " >

                    <h1 class="grue text-white" id="le">
                        REGISTRO VIRTUAL DE ORGANIZACIONES
                        SOCIALES
                        DE LA MUNICIPALIDAD DE CHACLACAYO</h1>
                    


                    <div class="d-grid d-md-block mx-auto gap-2 ">                        <br>
                        <a th:href="@{/register}" class="botones1 btn me-md-5 " ><h5>&nbsp&nbspREGISTRATE&nbsp&nbsp</h5></a>
                        <a th:href="@{/login}" class="botones1 btn btn-ini " ><h5>INICIAR SESIÓN</h5></a>
                    </div>


                </div>
            </section>
        </header>


        <main>
            <section class="QS w-auto mx-auto p-5 " id="quees" >
                <div class="container  px-6">          
                    <div class="d-flex position-relative fs-5 px-2">
                        <div>
                            <a class="btn-RS btn-lg disabled " ></a><br>
                            <p class="sub btn-RS btn-lg disabled " >¿QUE ES?</p>
                            <p>Es un registro de organizaciones sociales para ejercer el
                                derecho a la participación ciudadana y registrado por el 
                                representante de la organización a través de las formas 
                                y mecanismos legales existentes.

                                Dentro de lo establecido en la Ordenanza 1706, se describen
                                los requisitos y el procedimiento para el reconocimiento 
                                de las organizaciones sociales y sus representantes, así 
                                como los actos que se realicen con posterioridad a su 
                                inscripción.</p>
                        </div>
                        <img src="https://img.freepik.com/foto-gratis/apuesto-hombre-apuntando-lateral_1368-5182.jpg?w=2000" alt="quees" width="155" class="flex-shrink-0 me-3">
                    </div>
                </div>
            </section>
        </main>


        <main>
            <section class="QS w-auto mx-auto p-5" id="inst" >
                <div class="container px-5 ">          
                    <div >

                        <a class="btn-RS btn-lg disabled" ></a><br>
                        <div class=" d-flex justify-content-center">
                            <p class="sub d-flex justify-content-center btn-RS btn-lg disabled " >INSTRUCCIONES</p>
                        </div>
                        <br>

                        <div class="ratio ratio-21x9  ">
                            <iframe class="shadow-lg b-5 bg-body rounded" width="560" height="315" src="https://www.youtube.com/embed/DgUHHL2B3II" title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
        </main>



        <main>
            <section class="QS w-auto mx-auto p-5 " id="requi" >
                <div class="container px-auto">
                    <a class="btn-RS btn-lg disabled  "  ></a><br>
                    <div class="d-flex justify-content-center"> 
                        <p class="sub btn-RS btn-lg disabled " >REQUISITOS</p>
                    </div>
                    <div class="d-flex position-relative m-5 d-flex
                         justify-content-center fs-5 ">          
                        <div>
                            <ul >
                                <li>Solicitud para el registro nuevo de organización</li>
                                <br>
                                <li>Acta de fundación o de Constitución</li>
                                <br>
                                <li>Estatuto y Acta de aprobación</li>
                                <br>
                                <li>Acta de elección del Órgano Directivo</li>
                                <br>
                                <li>Nómina de los miembros del órgano directivo</li>
                            </ul>
                        </div>

                        <ul >
                            <li>Nómina de los miembros de la Organización Social</li>
                            <br>
                            <li>Plano o croquis referencial de la ubicación del local</li>
                            <br>
                            <li>Plano o croquis del radio de acción de la organización</li>
                            <br>
                            <li>Otro acervo documental</li>

                        </ul>
                    </div>
                </div>
            </section>
        </main> 



        <main>
            <section class="QS w-auto mx-auto p-5" id="for" >
                <div class="container px-5 ">          
                    <div >
                        <a class="btn-RS btn-lg disabled" ></a><br>
                        <div class=" d-flex justify-content-center">
                            <p class="sub btn-RS btn-lg disabled " >FORMATOS</p>
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">NOMBRE DEL FORMATO</th>
                                    <th scope="col">FORMATO PARA LLENAR</th>
                                    <th scope="col">FORMATO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row ">1</th>
                                    <td>Solicitud para el registro nuevo de organización</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                        
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Solicitud para la actualización de organización</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td >Acta de fundación o de Constitución</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td >Estatuto y Acta de aprobación</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td >Acta de elección del Órgano Directivo</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td >Nómina de los miembros del órgano directivo</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td >Nómina de los miembros de la Organización Social</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td >Plano o croquis referencial de la ubicación del local</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td >Plano o croquis del radio de acción de la organización</td>
                                    <td ><a  class="d-flex justify-content-center" href="#">
                                            <img  src="https://tecnoguia.net/wp-content/uploads/2021/02/Como-poner-simbolo-mayor-o-igual-en-Word.jpg" alt="" width="35"></a>
                                    </td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://www.mintur.gob.cu/wp-content/uploads/2022/04/icono-del-vector-de-descarga-archivo-pdf-documento-descargar-en-fondo-blanco-193233210.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>    
                            </tbody>
                        </table>

                    </div>
                </div>
                </div>
            </section>
        </main>



        <main>
            <section class="QS w-auto mx-auto p-5" id="org" >
                <div class="container px-5 ">          
                    <div >
                        <a class="btn-RS btn-lg disabled" ></a><br>
                        <div class=" d-flex justify-content-center">  
                            <p class="sub btn-RS btn-lg disabled " >ORGANIZACIONES</p>
                        </div>

                        <div class=" d-grid gap-2 d-md-flex justify-content-md-center ">
                            <form class="d-flex text-center">
                                <h6 class="p-4">BÚSQUEDA POR TIPO<input class="form-control me-2 m-3" type="search" placeholder="Todos" aria-label="Search"></h6>
                                <h6 class="p-4">BÚSQUEDA POR AÑO<input class="form-control me-2 m-3" type="search" placeholder="Todos" aria-label="Search"></h6>
                                <h6 class="p-4">BÚSQUEDA POR ZONA<input class="form-control me-2 m-3 " type="search" placeholder="Todos" aria-label="Search"></h6>
                                <h6 class="m-5 p-3"><button class="ultimo negrita botones btn" type="submit">BUSCAR</button></h6>
                            </form>
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <div class="negrita">
                                DESCARGAR COMO:
                            </div>
                            <br>
                            <button class="btn btn-success " type="button">EXCEL</button>
                            <button class="btn btn-danger " type="button">&nbsp&nbspPDF&nbsp&nbsp</button>
                        </div>

                        <br>

                        <table class="table text-center table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">CÓDIGO 
                                        ORGANIZACIÓN</th>
                                    <th scope="col">NOMBRE DE
                                        ORGANIZACIÓN</th>
                                    <th scope="col">NIVEL</th>
                                    <th scope="col">ZONA</th>
                                    <th scope="col">INICIO DE VIGENCIA</th>
                                    <th scope="col">FIN DE VIGENCIA</th>
                                    <th scope="col">TIPO DE 
                                        ORGANIZACIÓN</th>
                                    <th scope="col">RESOLUCIÓN</th>
                                    <th scope="col">DESCARGAR 
                                        RESOLUCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://png.pngtree.com/element_our/md/20180620/md_5b29c1812e5f5.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://png.pngtree.com/element_our/md/20180620/md_5b29c1812e5f5.jpg" alt="" width="35"></a>
                                    </td>
                                </tr> <tr>
                                    <th scope="row">3</th>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://png.pngtree.com/element_our/md/20180620/md_5b29c1812e5f5.jpg" alt="" width="35"></a>
                                    </td>
                                </tr> <tr>
                                    <th scope="row">4</th>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                    <td>xxxxxx</td>
                                    <td>xxxxx</td>
                                    <td>
                                        <a class="d-flex justify-content-center" href="">
                                            <img src="https://png.pngtree.com/element_our/md/20180620/md_5b29c1812e5f5.jpg" alt="" width="35"></a>
                                    </td>
                                </tr>




                            </tbody>
                        </table>

                    </div>
                </div>
                </div>
            </section>
        </main>


        <!--========================================================== -->
        <!--FOOTER-->
        <!--========================================================== -->


        <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
            <p class="muni fs-5 px-3 pt-3">Municipalidad de Chaclacayo</p>
        
    </footer>
</div>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
</body>
</html>
